/**
 * This is the base ESLint config for the whole project. It extends
 * "eslint-config-vast" which extends "eslint:recommended".
 */
{
    "extends": "eslint-config-vast",
    "globals": {
        "describe": false,
        "it": false
    },
    "rules": {
        "object-shorthand": ["error", "consistent-as-needed"],
        "no-bitwise": "off"
    }
}
